db:
  host: your.db.net
  dbname: openvpn_log
  user: openvpn
  password: openvpn

vpn:
  your_vpn_1:
    host: your.vpn.net
    port: 2194
    email: your@email.net
  your_vpn_2:
    host: 192.168.0.1
    port: 2194
    email: your@email.net

admin:
  email: admin@email.com
